cfgv==3.3.1
configparser==6.0.0
distlib==0.3.7
dlib==19.24.2
filelock==3.12.2
identify==2.5.26
imageio==2.31.1
imutils==0.5.4
lazy_loader==0.3
networkx==3.1
nodeenv==1.8.0
numpy==1.25.2
opencv-contrib-python==4.8.0.74
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
platformdirs==3.10.0
pre-commit==3.3.3
PyWavelets==1.4.1
PyYAML==6.0.1
scikit-image==0.21.0
scipy==1.11.1
tifffile==2023.7.18
virtualenv==20.24.2
